$mobile: 420px;
$tablet: 768px;
$desktop: 1024px;

//colors
$white: #fff;
$caGold: rgb(237, 214, 0);
$caBlue: rgb(59, 0 , 205);

$min-tablet: $mobile + 1px;
$min-desktop: $tablet + 1px;

$mq-mobile: "only screen and (min-width: #{$mobile})";
$mq-tablet: "only screen and (min-width: #{$min-tablet}) and (max-width: #{$tablet})";
$mq-desktop: "only screen and (min-width: #{$min-desktop}) and (max-width: #{$desktop})";

$mq-mobile-only: "only screen and (max-width: #{$min-tablet})";
$mq-min-tablet: "only screen and (min-width: #{$min-tablet})";
$mq-min-desktop: "only screen and (min-width: #{$min-desktop})";
