@import "variables";
@import "mixins";
@import "base";

.watermark {
  background: white url(../../img/og_block_ca.png) no-repeat center / 200%;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;

  @include mq(min-tablet) {
    background-size: 90%;
    background-position: 50% 100%;
  }
}

.picnic-day-message {
  box-sizing: border-box;
  color: #232323;
  display: inline-block;
  padding: 0 15px;
  text-align: center;
  width: 100%;

  > h1 {
    font-size: 45px;
    font-weight: lighter;
    margin-bottom: 0;
  }

  @include mq(min-desktop) {

    > h1 {
      font-size: 76px;
      margin-bottom: .67em;
    }
  }
}

.timer-counter {
  display: inline-block;
  font-size: 60px;
  font-weight: 300;
  margin-bottom: 12px;
  margin-top: 6px;
  min-width: 2em;
  position: relative;
  padding: 0 5rem;

  @include mq(min-tablet) {
    font-size: 120px;
    padding: 0 1rem;
  }
}

.timer-unit {
  font-size: 20px;
  font-weight: 300;
  left: 0;
  bottom: -.6em;
  position: absolute;
  text-align: center;
  width: 100%;

  @include mq(min-tablet) {
    font-size: 30px;
  }
}
