//colors
// CA GOLD rgb(237, 214, 0);
// CA BLUE rgb(59, 0 , 205);

html {
  height: 100%;
}

body {
  font-family: Lato, Open Sans;
  height: 1px;
  min-height: 100%;
}

main {
  min-height: 100%;
}

.watermark {
  background: white url(/assets/og_block_ca.png) no-repeat center / 200%;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
}

.timer {
  opacity: 1;
}

.no-fouc {
  opacity: 0;
}

.un-focu-able {
  transition: opacity 1.2s ease-in-out;
}

@media only screen and (min-width: 421px) {
  .watermark {
    background-size: 90%;
    background-position: 50% 100%;
  }

  .timer-counter {
    font-size: 120px;
    padding: 0 1rem;
  }

  .timer-unit {
    font-size: 30px;
  }
}

.picnic-day-message {
  box-sizing: border-box;
  color: #232323;
  display: inline-block;
  padding: 0 15px;
  text-align: center;
  width: 100%;
}

.picnic-day-message > h1 {
  font-size: 45px;
  font-weight: lighter;
  margin-bottom: 0;
}

@media only screen and (min-width: 769px) {
  .picnic-day-message > h1 {
    font-size: 76px;
    margin-bottom: .67em;
  }
}

.timer-counter {
  display: inline-block;
  font-size: 60px;
  font-weight: 300;
  margin-bottom: 12px;
  margin-top: 6px;
  min-width: 2em;
  position: relative;
  padding: 0 5rem;
}

.timer-unit {
  font-size: 20px;
  font-weight: 300;
  left: 0;
  bottom: -.6em;
  position: absolute;
  text-align: center;
  width: 100%;
}

.hype-bg {
  animation: bgHype .69s infinite;
}

.no-animation {
  animation: none !important;
}

.text-center {
  text-align: center;
}

@keyframes bgHype {
  0%, 100% {
    background-color: white;
  }

  33% {
    background-color: rgb(59, 0 , 205);
  }

  66% {
    background-color: rgb(237, 214, 0);
  }
}

.bottom-float {
  background-color: rgb(59, 0 , 205);
  bottom: 0;
  height: 3em;
  position: fixed;
  width: 100%;
  text-align: center;

  transition: transform .7s ease-in-out;
}

.bottom-float .btn {
  background-color: transparent;
  border: none;
  width: 100%;
  height: 100%;
  color: rgb(237, 214, 0);
  font-size: 1.6rem;
  font-weight: bold;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

.bottom-float .btn.btn--hidden {
  opacity: 0;
  display: none;
  visibility: hidden;
  pointer-events: none;
}

.bottom-float--hide {
  transform: translateY(100%);
}

@media only screen and (min-device-width: 0px) and (max-device-width: 720px) {
  .visible-b-sm,
  .visible-sm {
    display: block;
  }

  .visible-i-sm {
    display: inline;
  }

  .visible-ib-sm {
    display: inline-block;
  }

  .hidden-sm {
    display: none !important;
  }
}

@media only screen and (min-device-width: 721px) {

  .visible-b-sm,
  .visible-sm {
    display: none !important;
  }

  .visible-i-sm {
    display: none !important;
  }

  .visible-ib-sm {
    display: none !important;
  }
}
