{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="" ng-app="picnicDayApp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="author" content="Phillip Long">
  <meta name="description" content="Is It Picnic Day?!">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="Is It Picnic Day?!"/>
  <meta proproty="og:type" content="website"/>
  <meta property="og:description" content="The site for any one wondering if it is currently Picnic Day"/>
  <meta property="og:image" content="http://isitpicnicday.com{% static 'img/og_block_ca.png' %}"/>
  <meta property="og:url" content="http://isitpicnicday.com/"/>

  <meta property="twitter:card" content="summary"/>
  <meta property="twitter:creator" content="@phlongalong"/>
  <meta property="twitter:title" content="Is It Picnic Day?!"/>
  <meta property="twitter:description" content="The site for any one wondering if it is currently Picnic Day"/>
  <meta property="twitter:image" content="http://isitpicnicday.com{% static 'img/twitter_block_ca.png' %}"/>
  <meta property="twitter:url" content="http://isitpicnicday.com"/>

  <title ng-bind="PageTitle.get()"></title>
  <base href="/">
  
  <link rel="apple-touch-icon" href="{% static 'img/apple-touch-icon.png' %}">
  <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.2/normalize.min.css">
  <link rel="stylesheet" href="{% static 'css/dist/isitpicnicday.css' %}">
  <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
</head>
<body>
  <!--[if lt IE 8]>
    <p>You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  <main ng-controller="picnicDayCtrl">
    <div class="picnic-day-message" ng-if="itsPicnicDay()" ng-cloak>
      <h1>IT'S PICNIC DAY!!!!!!!</h1>
    </div>
    <div class="picnic-day-message" ng-if="!itsPicnicDay()" ng-cloak>
      <h1>No, it is not picnic day...</h1>
      <flip-clock countdown="picnicDayDate"></flip-clock>
    </div>
    <pd-audio>
      Sorry, your browser does not support the <code>audio</code> element :/
      <source src="{% static 'audio/picnic_day_song.mp3' %}" type="audio/mpeg"></source>
    </pd-audio>
  </main>
  
  <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular-route.min.js"></script>
  <script src="{% static 'js/dist/isitpicnicday.js' %}"></script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-60140987-1', 'auto');
    ga('send', 'pageview');
  </script>
</body>
</html>
