{% load static %}
<div class="picnic-day-message" ng-if="itsPicnicDay" ng-cloak>
  <h1>IT'S PICNIC DAY!!!!!!!</h1>
</div>
<div class="picnic-day-message" ng-if="!itsPicnicDay" ng-cloak>
  <h1><strong>No</strong>, it is not picnic day...</h1>
  {% verbatim %}
  <timer end-time="picnicDayDate" finish-callback="broadcastPicnicDay()">
    <span class="timer-counter days">
      {{ddays}} <span class="timer-unit">day{{daysS}}</span>
    </span>
    <span class="timer-counter hours">
      {{hhours}} <span class="timer-unit">hour{{hoursS}}</span>
    </span>
    <span class="timer-counter minutes">
      {{mminutes}} <span class="timer-unit">minute{{minutesS}}</span>
    </span>
    <span class="timer-counter seconds">
      {{sseconds}} <span class="timer-unit">second{{secondsS}}</span>
    </span>
  </timer>
  {% endverbatim %}
</div>
<audio src="{% static 'audio/picnic_day_song.mp3' %}" type="audio/mpeg" loop pd-audio ng-if="itsAlmostPicnicDay"></audio>
{% verbatim %}
<div class="watermark" ng-style="{'opacity': bgOpacity()}"></div>
{% endverbatim %}